{% for option in event.option %}
  {% assign max = option | getSeats %}
  {% assign product = option.product %}

  {% if max > 0 %}
    <form
      id="checkout-{{ option.id }}"
      action="/api/checkout"
      method="POST">
      <h2>{{ option.title }}</h2>
      <input
        type="hidden"
        id="eventID-{{ option.id }}"
        name="event"
        value="{{ event.id }}">
      <input
        type="hidden"
        id="optionID-{{ option.id }}"
        name="option"
        value="{{ option.id }}">
      <input
        type="hidden"
        id="max-{{ option.id }}"
        name="max"
        value="{{ max }}">
      <input
        type="hidden"
        id="product-{{ option.id }}"
        name="product"
        value="{{ product }}">

      <div class="form-field">
        <label for="count-{{ option.id }}">
          How many tickets?
        </label>
        <input
          type="number"
          id="count-{{ option.id }}"
          name="count"
          min="1"
          max="{{ max }}"
          required
          value="1">
        <p class="max-warning" hidden>
          Only
          <strong class="max-warning-count">
            {{ max }} ticket{% if max != 1 %}s{% endif %}
          </strong>
          remaining.
        </p>
      </div>

      <div class="form-field">
        <label for="price-{{ option.id }}">
          Name your price ($)
        </label>
        <input
          type="number"
          id="price-{{ option.id }}"
          name="price"
          min="0.5"
          step="0.5"
          required>
      </div>

      <div class="form-actions">
        <p class="checkout-summary" hidden>
          <strong>Total:</strong>
          <output class="total-price">(set your own price)</output>
          for
          <output class="total-count">1 Ticket</output>
          on
          <strong>{{ event.date | formatDate: 'event' }}</strong>
        </p>
        <button type="submit">Reserve »</button>
      </div>
    </form>
  {% else %}
    {% render 'tickets/sold-out' %}
  {% endif %}
{% endfor %}

<script type="module" src="/js/checkout.js"></script>
<template id="sold-out-template">
  {% render 'tickets/sold-out' %}
</template>
