---
layout: page
eleventyComputed:
  title: '{{ api.fields.title }}'
  subtitle: '{{ api.fields.subtitle }}'
  date: '{{ api.fields.premiere }}'
---

<h1>{{ api.fields.title }}</h1>
<p>{{ api.fields.subtitle }}</p>

{% if api.fields.teaser %}
  <p>{{ api.fields.teaser | md }}</p>
{% endif %}

{{ api.fields.body | apiToHtml }}
